<template>
    <div>
        <form-component></form-component>
        <loading-spinner v-if="getIsFetchingWeatherData" ></loading-spinner>
        <daily-weather-component v-if="(getDailyWeatherData !== null && !getIsFetchingWeatherData)" ></daily-weather-component>
    </div>
</template>

<script>
    import FormComponent from './FormComponent';
    import DailyWeatherComponent from './DailyWeatherComponent';
    import LoadingSpinner from './LoadingSpinner';
    import {mapActions, mapGetters} from 'vuex';
    import store from '../vuex/store';

    export default {
        name: "App",
        props: [
            'datePickerStartDate',
            'datePickerEndDate',
            'weatherApiUrl',
            'longitude',
            'latitude',
            'place',
        ],
        store,
        computed: mapGetters([
            'getIsFetchingWeatherData',
            'getDailyWeatherData'
        ]),
        components: {
            FormComponent,
            DailyWeatherComponent,
            LoadingSpinner
        },
        methods: mapActions([
            'changeDatePickerStartDate',
            'changeDatePickerEndDate',
            'changeWeatherApiUrl',
            'fetchDailyWeather',
            'changeLongitude',
            'changeLatitude',
            'changePlace',
            'changeDate',
        ]),
        created () {
            this.changeDatePickerStartDate(this.datePickerStartDate);
            this.changeDatePickerEndDate(this.datePickerEndDate);
            this.changeWeatherApiUrl(this.weatherApiUrl);
            this.changeLongitude(this.longitude);
            this.changeLatitude(this.latitude);
            this.changePlace(this.place);
            this.changeDate(new Date());

            this.fetchDailyWeather();
        }
    }
</script>