<template>
    <div class="weather-information w-full max-w-lg">
        <h2 class="text-center w-full">
            Weather in <span class="text-green font-bold">{{ getPlace }}</span> on <span>{{ getDate | humanReadableDate}}</span>.
        </h2>
        <div class="flex-wrap flex content-center -mx-3 mb-3" id="daily-weather-content">
            <hourly-weather-component :period="'morning'" :weather-data="getDailyWeatherData.morning"></hourly-weather-component>
            <hourly-weather-component :period="'afternoon'" :weather-data="getDailyWeatherData.afternoon"></hourly-weather-component>
            <hourly-weather-component :period="'evening'" :weather-data="getDailyWeatherData.evening"></hourly-weather-component>
        </div>
    </div>
</template>

<script>
    import HourlyWeatherComponent from "./HourlyWeatherComponent";
    import {mapGetters} from 'vuex';
    import store from '../vuex/store';

    export default {
        name: "DailyWeatherComponent",
        store,
        computed: mapGetters([
            'getDailyWeatherData',
            'getPlace',
            'getDate'
        ]),
        components: {
            HourlyWeatherComponent
        },
        filters: {
            humanReadableDate(value) {
                let date = new Date(value);
                return date.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
            }
        }
    }
</script>

<style scoped>
</style>