<template>
    <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey" :class="{'border-grey-lighter': dateIsValid, 'border-red': !dateIsValid}" ref="dateInput" type="text" :value="getDate | datePickerFormat" :placeholder="getDatePickerStartDate | datePickerFormat" @change="onDateChange($event.target.value)">
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    import _ from 'underscore';
    import flatpickr from 'flatpickr';

    export default {
        name: "DatePicker",
        computed: mapGetters([
            'getDatePickerEndDate',
            'getDatePickerStartDate',
            'getDate',
        ]),
        methods: _.extend(
            mapActions([
                'changeDate',
                'fetchDailyWeather'
            ]),
            {
                onDateChange (newDate) {
                    this.changeDate(newDate);
                    this.fetchDailyWeather();
                }
            }
        ),
        mounted () {
            flatpickr(this.$refs.dateInput,{
                'dateFormat': 'Y-m-d',
                'maxDate': new Date(this.getDatePickerEndDate),
                'minDate': new Date(this.getDatePickerStartDate)
            });
        },
        props: ['dateIsValid'],
        filters: {
            datePickerFormat (value) {
                let date = new Date(value);

                return ('0' + date.getDate()).slice(-2)
                    + ' '
                    + date.toLocaleDateString('en-US', {month: 'long'}).slice(0,3)
                    + ' '
                    + date.getFullYear();
            }
        }
    }
</script>

<style scoped>

</style>