<template>
    <div class="weather-input-form">
        <form class="w-full max-w-lg">
            <div class="flex flex-wrap content-center -mx-3 mb-6">

                <div class="w-full md:w-3/5 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        Location
                    </label>
                    <input class="appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" :class="{'border-grey-lighter': locationIsValid, 'border-red': !locationIsValid}" :value="getPlace" ref="locationInput" type="text" placeholder="Enter your location e.g Leuven, Belgium">
                    <p class="text-red text-xs italic" :class="{hidden: locationIsValid}" id="location-input-helper">Please select a location from the dropdown.</p>
                </div>

                <div class="w-full md:w-1/5 px-3">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
                        Date
                    </label>
                    <date-picker :date-is-valid="dateIsValid"></date-picker>
                    <p class="text-red text-xs italic" :class="{hidden: dateIsValid}" id="date-input-helper">Please select a date.</p>
                </div>

                <div class="w-full md:w-1/5 px-3 text-center">
                    <button @click="getWeather" :class="{'cursor-not-allowed': getIsFetchingWeatherData}" class="bg-red get-weather-btn hover:text-black border-red border focus:outline-none border-2 hover:bg-transparent text-white font-bold py-3 px-4 rounded" type="button">
                        Get Weather
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import store from '../vuex/store';
    import {mapGetters, mapActions} from 'vuex';
    import _ from "underscore";
    import DatePicker from './DatePicker'

    export default {
        name: "FormComponent",
        components: {
            DatePicker
        },
        computed: mapGetters([
            'getLongitude',
            'getLatitude',
            'getDate',
            'getPlace',
            'getIsFetchingWeatherData'
        ]),
        store,
        data () {
            return {
                dateIsValid: true,
                locationIsValid:true,
            }
        },
        methods: _.extend(
            mapActions(['changeLongitude', 'changeLatitude', 'changePlace', 'changeDate', 'fetchDailyWeather']),
            {
                getWeather() {
                    if(!this.allInputsAreValid()) {
                        return;
                    }

                    this.fetchDailyWeather();
                },

                /**
                 * Validates if all inputs are valid.
                 *
                 * @returns {boolean}
                 */
                allInputsAreValid() {
                    let inputsAreValid = true;

                    this.dateIsValid = true;
                    this.locationIsValid = true;

                    if(this.getLongitude === null || this.getLatitude === null) {
                        this.locationIsValid = false;
                        inputsAreValid = false;
                    }

                    if(this.getDate === null) {
                        this.dateIsValid = false;
                        inputsAreValid = false;
                    }

                    return inputsAreValid;
                },
            }
        ),
        mounted() {
            window.addEventListener('load', () => {
                {
                    let self = this;
                    let locationInput = self.$refs.locationInput;
                    let autoComplete = new google.maps.places.Autocomplete(locationInput);

                    autoComplete.setTypes(['geocode']);

                    // Set the data fields to return when the user selects a place.
                    autoComplete.setFields(['geometry', 'formatted_address']);


                    autoComplete.addListener('place_changed', function() {
                        let place = autoComplete.getPlace();
                        if (!place.geometry) {
                            // User entered the name of a Place that was not suggested and
                            // pressed the Enter key, or the Place Details request failed.
                            self.locationIsValid = false;
                            return;
                        }

                        self.changePlace(place.formatted_address);
                        self.changeLongitude(place.geometry.location.lng());
                        self.changeLatitude(place.geometry.location.lat());

                        self.fetchDailyWeather();
                    });
                }
            });
        },
    }
</script>

<style lang="scss" scoped>
</style>