<template>
    <div class="mb-2 w-full sm:w-1/3 md:w-1/3 w-1/3 rounded px-1">
        <div class="py-5 border text-center text-white weather-details-card border-green-dark rounded rounded-b p-2" :class="[weatherBackground]">
            <div class="container text-white">
                <h3>{{ period | toTitleCase }} <i :class="['wi', titleIconClass]"></i></h3>
            </div>
            <div class="container">
                <img class="w-32 h-32 mt-3 rounded-full" :src="weatherData.iconUrl">
            </div>
            <div class="container h-10">
                <h4>{{ weatherData.summary }}</h4>
            </div>
            <div class="container mt-5">
                <h1 class="text-white font-bold">{{ weatherData.temperature}}<i class="wi wi-celsius"></i></h1>
                <h4>Feels like {{ weatherData.apparentTemperature }}<i class="wi wi-degrees"></i></h4>
            </div>
            <div class="container mt-5">
                <p>{{ weatherData.humidity }} <i class="wi wi-humidity"></i></p>
            </div>
            <div class="container mt-2">
                <p><i class="wi wi-sandstorm"></i><span class="text-bold">{{ weatherData.windSpeed }}</span>km/hour</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HourlyWeatherComponent",
        props: ['weatherData', 'period'],
        computed: {
            titleIconClass() {
                let periodIcons = {
                    'morning': 'wi-sunrise',
                    'afternoon': 'wi-day-sunny',
                    'evening' : 'wi-sunset'
                };

                return periodIcons[this.period];
            },
            weatherBackground() {
                let periodBackgroundClasses = {
                    'morning': 'bg-blue-light',
                    'afternoon': 'bg-blue',
                    'evening' : 'bg-blue-dark'
                };

                return periodBackgroundClasses[this.period];
            }
        },
        filters: {
            toTitleCase(value) {
                return value.charAt(0).toUpperCase() + value.substr(1).toLowerCase();
            },
        }
    }
</script>

<style scoped>

</style>