<template>
    <div class="loading-spinner text-center font-bold"><div class="lds-hourglass"></div><br><h3>Loading</h3></div>
</template>

<script>
    export default {
        name: "LoadingSpinner"
    }
</script>

<style scoped>

</style>